body {
  background-color: rgba(0,0,0,1);
  margin: 0;
  overflow: hidden;
}
a {
  color:#0078ff;
}

.search-container {
  width: 300px;
  background-color: rgba(0,0,0,0);
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin-top: 20px;
}

input#search{
  width: 300px;
  background: rgba(0,0,0,0);
  font-size: 10pt;
  color: white;
  padding-left: 10px;

}

#search-button {
  background-color: rgba(0,0,0,0);
  color: white;
}